main {
    background-color: indianred;
    width: fit-content;
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding-left: 64px;
    padding-right: 64px;
    padding-top: 32px;
    padding-bottom: 32px;
}

label {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.i {
    display: inline;
}

.s {
    display: block;
}

form {
    margin-left: auto;
    margin-right: auto;
}

.form {
    width: fit-content;
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
    align-content: 1;
    line-height: 28px;
}

h1 {
    text-align: center;
}

input[type=text] {
    width: 250px;
    height: 25px;
}

textarea {
    max-width: 250px;
    min-width: 250px;
    max-height: 50px;
    min-height: 50px;
}

select {
    max-width: 250px;
    min-width: 250px;
    max-height: 25px;
    min-height: 25px;

}

input[type=submit] {
    margin-left: auto;
    margin-right: auto;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 20px;
}

input[type=number] {
    height: 25px;
}
